<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="index.js" defer></script>
    <title>Document</title>
    <style>
        img{
            width:300px;
        }
        .color-box{
            width:40px;
            height:40px;

        }
        .disabledButton{
            background-color:grey;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <h2>{{author}}</h2>
        <img v-bind:src="image" :alt="nameImage" :title="nameImage"/>
        <h3>Tragedias de Darth Plageis el sabio</h3>
        
        <b>STOCK</b>
        <p v-if="stock > 5">En venta</p>
        <p v-else-if="stock <= 5 && stock > 0">Pocas unidades</p>
        <p v-else>Sin stock :(</p>
        
        <p v-show="onSale">En oferta!</p>

        <hr>
        
        <h4>Recorrer array</h4>
        <ul>
            <li v-for="detail in details" >{{detail}}</li>
        </ul>

        <h4>Recorrer array de objetos</h4>
        <ul>
            <li class="color-box"
                v-for="variant in variants" 
                :key="variant.variantId" 
                v-on:mouseover="updateProduct(variant.image)"
                :style="{backgroundColor:variant.variantColor}"
            >{{variant.variantDescription}}</li>
        </ul>

        <p>Cambiando el color de fondo</p>
        <img :src="image2"></img>

        <p>{{modifyP}}</p>

        <p>Cart ({{cart}})</p>

        <button v-on:click="addToCart" 
                :disabled="!inStock"
                :class="{disabledButton: !inStock}"
        >Add Tragedy</button>
        <!--al ser variable booleana, cuando sea true disabled valdra true y se activará-->
        <button @click="removeFromCart">Remove Tragedy</button>

        <hr>



    </div>
</body>
</html>